
/* Creates different font sizes for the tag cloud */

#sharedlinks {
}

.sharedlinks {
}

.sharedlink-level.level1 {
  font-size : 10px;
  padding: 0 5px 0 0;
}

.sharedlink-level.level2 {
  font-size : 11px;
  padding: 0 5px 0 0;
}

.sharedlink-level.level3 {
  font-size : 12px;
  padding: 0 5px 0 0;
}

.sharedlink-level.level4 {
  font-size : 13px;
  padding: 0 5px 0 0;
}

.sharedlink-level.level5 {
  font-size : 13px;
  padding: 0 5px 0 0;
}

.sharedlink-level.level6 {
  font-size : 14px;
  padding: 0 5px 0 0;
}